:root {
  --border-line: 1px solid #ccc;
  --transorm-animation: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-color: #ff7f27;
}

body {
  list-style: none;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 40px;
}

@media screen and (min-width: 1366px) {
  body {
    padding-top: 60px;
  }
}

a {
  text-decoration: none;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  background-color: var(--main-color);
  z-index: 99;
}

@media screen and (max-width: 765px) {
  .page-header {
    position: absolute;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -180px;
  margin-right: 50px;
  overflow: hidden;
}

@media screen and (max-width: 1365px) {
  .logo {
    margin-left: -100px;
    margin-right: 20px;
  }
}

.logo__img {
  display: block;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

@media screen and (max-width: 1365px) {
  .logo__img {
    width: 120px;
  }
}

.logo:hover .logo__img,
.logo:focus .logo__img {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  opacity: 0;
}

.logo__title {
  display: inline-block;
  opacity: 0;
  color: #fff;
  text-align: center;
  width: 200px;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

@media screen and (max-width: 1365px) {
  .logo__title {
    width: 120px;
  }
}

.logo:hover .logo__title,
.logo:focus .logo__title {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  opacity: 1;
}

.open-form-app {
  color: #fff;
  height: 100%;
  margin: 0;
  padding: 10px;
  border: none;
  background-color: var(--main-color);
  cursor: pointer;
}

.form-application-container {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  overflow-y: scroll;
  font-size: 14px;
  background-color: rgba(50, 50, 50, 0.8);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1366px) {
  .form-application-container {
    top: 60px;
  }
}

.form-application-container--visible {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.form-application {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -15%);
          transform: translate(-50%, -15%);
  margin: 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  width: 80vw;
}

.form-application__close {
  position: absolute;
  top: -14px;
  right: -14px;
  width: 20px;
  height: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: -2px 2px 6px 1px #777;
          box-shadow: -2px 2px 6px 1px #777;
  cursor: pointer;
}

.form-application__close:hover {
  fill: #fa6400;
}

.form-application__title {
  text-align: center;
}

.form-application__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.form-application__description {
  margin-left: 10px;
}

.form-application__input {
  color: #444;
  font-size: 18px;
  font-style: italic;
  height: 20px;
  padding: 10px;
  padding-left: 50px;
  border: 3px solid #ccc;
  border-radius: 10px;
}

.form-application__input:focus,
.form-application__input:not(:placeholder-shown) {
  border: 3px solid #fa6400;
}

.form-application__label {
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  display: inline-block;
}

.form-application__input:focus + .form-application__label,
.form-application__input:not(:placeholder-shown) + .form-application__label {
  -webkit-transform: translate(-40px, -40px);
          transform: translate(-40px, -40px);
}

.form-application__mark {
  color: #f00;
}

.form-application__icon {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.form-application__icon-name {
  background-image: url(../png/user.png);
}

.form-application__input:focus ~ .form-application__icon-name,
.form-application__input:not(:placeholder-shown) ~ .form-application__icon-name {
  background-image: url(../png/user-act.png);
}

.form-application__icon-tel {
  background-image: url(../png/telephone.png);
}

.form-application__input:focus ~ .form-application__icon-tel,
.form-application__input:not(:placeholder-shown) ~ .form-application__icon-tel {
  background-image: url(../png/telephone-act.png);
}

.form-application__icon-mail {
  background-image: url(../png/email.png);
}

.form-application__input:focus ~ .form-application__icon-mail,
.form-application__input:not(:placeholder-shown) ~ .form-application__icon-mail {
  background-image: url(../png/email-act.png);
}

.form-application__textarea {
  resize: none;
  color: #444;
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 10px;
}

.form-application__textarea:focus,
.form-application__textarea:not(:placeholder-shown) {
  border: 3px solid #fa6400;
}

.form-application__file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .form-application__file > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 2;
  }
}

.form-application__load-file {
  border: none;
  margin: 0;
}

.form-application__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.form-application__checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.form-application__icon-check {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 3px solid #ccc;
  border-radius: 6px;
}

@media screen and (max-width: 480px) {
  .form-application__icon-check {
    width: 32px;
    height: 22px;
  }
}

.form-application__checkbox:checked + .form-application__icon-check {
  border-color: #fa6400;
  background-color: #fa6400;
  background-image: url(../svg/checkmark.svg);
  background-repeat: no-repeat;
}

.form-application__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #003cff;
  margin-left: 5px;
}

.form-application__button-submit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-application__button-submit {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #ff5100;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px 1px #333;
          box-shadow: 1px 1px 5px 1px #333;
  cursor: pointer;
}

.form-button button:hover {
  background-color: #ff1e00;
}
/*# sourceMappingURL=main.css.map */