:root {
  --border-line: 1px solid #ccc;
  --transorm-animation: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-color: #ff7f27;
}

html {
  scroll-behavior: smooth;
}

body {
  list-style: none;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 40px;
  margin: 0;
}

@media screen and (min-width: 1920px) {
  body {
    padding-top: 60px;
  }
}

@media screen and (max-width: 765px) {
  body {
    padding-bottom: 60px;
  }
}

a {
  text-decoration: none;
}

.button-primary {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px 1px #333;
          box-shadow: 1px 1px 5px 1px #333;
  cursor: pointer;
}

.button-secondary {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px 1px #333;
          box-shadow: 1px 1px 5px 1px #333;
  cursor: pointer;
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  background-color: var(--main-color);
  z-index: 999;
}

@media screen and (min-width: 1366px) {
  .page-header {
    position: fixed;
  }
}

@media screen and (min-width: 1920px) {
  .page-header {
    height: 60px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: -180px;
  margin-right: 50px;
}

@media screen and (max-width: 1365px) {
  .logo {
    margin-left: -100px;
    margin-right: 20px;
  }
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.logo__img {
  display: block;
  opacity: 1;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

@media screen and (max-width: 1365px) {
  .logo__img {
    width: 120px;
  }
}

.logo:hover .logo__img,
.logo:focus .logo__img {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  opacity: 0;
}

.logo__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  color: #fff;
  text-align: center;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

@media screen and (max-width: 1365px) {
  .logo__title {
    width: 120px;
  }
}

.logo:hover .logo__title,
.logo:focus .logo__title {
  -webkit-transform: translate(80%, 0);
          transform: translate(80%, 0);
  opacity: 1;
}

.open-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.open-form__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 100%;
  margin: 0;
  padding: 0 10px;
  border: none;
  background-color: var(--main-color);
  cursor: pointer;
}

.open-form__app::before {
  content: "";
  background-image: url("../images/png/calculator.png");
  background-size: contain;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.nav-mobile {
  position: fixed;
  left: 0;
  bottom: 0;
  visibility: hidden;
  width: 100%;
  height: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 20px #333;
          box-shadow: 0 6px 20px #333;
  z-index: 998;
}

@media screen and (max-width: 568px) {
  .nav-mobile {
    visibility: visible;
  }
}

.nav-mobile__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-mobile__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav-mobile__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}

.nav-mobile__icon {
  display: block;
  width: 22px;
  height: 22px;
  fill: #777;
}

.nav-mobile__lable {
  display: block;
  font-size: 14px;
  color: #777;
}

.active-button > .nav-mobile__lable {
  color: var(--main-color);
}

.active-button > .nav-mobile__icon {
  fill: var(--main-color);
}

.search {
  position: absolute;
  bottom: 65px;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: calc(100% - 35px);
  padding: 10px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 1px -1px 10px #777;
          box-shadow: 1px -1px 10px #777;
}

.search__field {
  font-size: 18px;
  font-style: italic;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: 2px solid var(--main-color);
  border-radius: 10px 0 0 10px;
  outline: none;
}

.search__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 72px;
  height: 34px;
  margin: 0;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: var(--main-color);
}

.search__button:hover {
  background-color: #b94400;
}

.search__icon {
  width: 22px;
  fill: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.mobile-menu,
.mobile-contacts {
  position: absolute;
  bottom: 65px;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  width: 70vw;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 1px -1px 10px #777;
          box-shadow: 1px -1px 10px #777;
  list-style: none;
  margin: 0;
  padding: 10px;
  z-index: 997;
}

.mobile-menu {
  left: 50%;
  -webkit-transform: translate(-50%, 150%);
          transform: translate(-50%, 150%);
}

.mobile-contacts {
  right: 5px;
  -webkit-transform: translate(0%, 150%);
          transform: translate(0%, 150%);
}

.mobile-menu__item:not(:last-child),
.mobile-contacts__item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.mobile-menu__link,
.mobile-contacts__link {
  display: block;
  text-align: center;
  color: #d64f00;
  font-size: 18px;
  padding: 20px;
}

.mobile-menu__link:hover,
.mobile-contacts__link:hover {
  background-color: var(--main-color);
  color: #fff;
}

.visible-search {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.visible-menu {
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.visible-contacts {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-application-container {
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  margin-top: -40px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  overflow-y: scroll;
  font-size: 14px;
  background-color: rgba(50, 50, 50, 0.8);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1366px) {
  .form-application-container {
    top: 60px;
  }
}

.form-application-container--visible {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.form-application {
  position: absolute;
  top: 16%;
  left: 50%;
  -webkit-transform: translate(-50%, -15%);
          transform: translate(-50%, -15%);
  margin: 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  width: 80vw;
  height: auto;
}

@media screen and (min-width: 768px) and (max-height: 575px) {
  .form-application {
    top: 35%;
    height: 170%;
  }
}

.form-application__close {
  position: absolute;
  top: -14px;
  right: -14px;
  width: 20px;
  height: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: -2px 2px 6px 1px #777;
          box-shadow: -2px 2px 6px 1px #777;
  cursor: pointer;
}

.form-application__close:hover {
  fill: #fa6400;
}

.form-application__title {
  text-align: center;
}

.form-application__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.form-application__description {
  margin-left: 10px;
}

.form-application__input {
  color: #444;
  font-size: 18px;
  font-style: italic;
  height: 20px;
  padding: 10px;
  padding-left: 50px;
  border: 3px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.form-application__input:focus,
.form-application__input:not(:placeholder-shown) {
  border: 3px solid #fa6400;
}

.form-application__label {
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  display: inline-block;
}

.form-application__input:focus + .form-application__label,
.form-application__input:not(:placeholder-shown) + .form-application__label {
  -webkit-transform: translate(-40px, -40px);
          transform: translate(-40px, -40px);
}

.form-application__mark {
  color: #f00;
}

.form-application__icon {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.form-application__icon-name {
  background-image: url(../images/png/user.png);
}

.form-application__input:focus ~ .form-application__icon-name,
.form-application__input:not(:placeholder-shown) ~ .form-application__icon-name {
  background-image: url(../images/png/user-act.png);
}

.form-application__icon-tel {
  background-image: url(../images/png/telephone.png);
}

.form-application__input:focus ~ .form-application__icon-tel,
.form-application__input:not(:placeholder-shown) ~ .form-application__icon-tel {
  background-image: url(../images/png/telephone-act.png);
}

.form-application__icon-mail {
  background-image: url(../images/png/email.png);
}

.form-application__input:focus ~ .form-application__icon-mail,
.form-application__input:not(:placeholder-shown) ~ .form-application__icon-mail {
  background-image: url(../images/png/email-act.png);
}

.form-application__textarea {
  resize: none;
  color: #444;
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.form-application__textarea:focus,
.form-application__textarea:not(:placeholder-shown) {
  border: 3px solid #fa6400;
}

.form-application__file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .form-application__file > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 2;
  }
}

.form-application__load-file {
  border: none;
  margin: 0;
}

.form-application__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.form-application__checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.form-application__icon-check {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 3px solid #ccc;
  border-radius: 6px;
}

@media screen and (max-width: 480px) {
  .form-application__icon-check {
    width: 32px;
    height: 22px;
  }
}

.form-application__checkbox:checked + .form-application__icon-check {
  border-color: #fa6400;
  background-color: #fa6400;
  background-image: url(../images/svg/checkmark.svg);
  background-repeat: no-repeat;
}

.form-application__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #003cff;
  margin-left: 5px;
}

.form-application__button-submit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-application__button-submit {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #ff5100;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px 1px #333;
          box-shadow: 1px 1px 5px 1px #333;
  cursor: pointer;
}

.form-button button:hover {
  background-color: #ff1e00;
}

.about-us,
.advantages,
.answers,
.submit {
  padding: 30px 10px 50px 10px;
}

.about-us__title,
.advantages__title,
.answers__title,
.submit__title {
  font-size: 24px;
  color: #444;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.about-us__description,
.advantages__item,
.submit__description {
  color: #333;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us {
  background-color: #f3f3f3;
  padding-top: 30px;
}

.about-us__subtitle {
  color: #cc5e00;
}

.advantages {
  background-color: #fff;
}

.advantages__title {
  text-align: center;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.advantages__price,
.advantages__intermediary,
.advantages__estimate,
.advantages__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555555;
  font-size: 20px;
  text-align: center;
  width: 70%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #cfcfcf;
  -webkit-box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3);
}

.advantages__steps {
  margin-bottom: 0;
}

.advantages__price::before,
.advantages__intermediary::before,
.advantages__estimate::before,
.advantages__steps::before {
  content: "";
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  background-size: contain;
}

.advantages__price::before {
  background-image: url(../images/png/price.png);
}

.advantages__intermediary::before {
  background-image: url(../images/png/intermediary.png);
}

.advantages__estimate::before {
  background-image: url(../images/png/estimate.png);
}

.advantages__steps::before {
  background-image: url(../images/png/steps.png);
}

.submit {
  background-color: #f3f3f3;
}

.submit__title {
  text-align: center;
}

.submit__description {
  text-align: center;
  margin-bottom: 20px;
}

.submit__button-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.application,
.callback {
  font-size: 14px;
  padding: 10px;
  width: 45%;
  max-width: 200px;
}

.answers {
  background-color: #fff;
}

.answers__video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.answers__video {
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}

@media screen and (min-width: 308px) {
  .answers__video {
    width: 288px;
    height: 162px;
  }
}

@media screen and (min-width: 356px) {
  .answers__video {
    width: 336px;
    height: 189px;
  }
}

@media screen and (min-width: 388px) {
  .answers__video {
    width: 368px;
    height: 207px;
  }
}

@media screen and (min-width: 436px) {
  .answers__video {
    width: 416px;
    height: 234px;
  }
}

@media screen and (min-width: 484px) {
  .answers__video {
    width: 464px;
    height: 261px;
  }
}

@media screen and (min-width: 532px) {
  .answers__video {
    width: 512px;
    height: 288px;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url(../images/gallery/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media screen and (max-width: 567px) {
  .hero {
    height: calc(100vh - 10vh);
  }
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.5);
}

.hero__tagline {
  color: #fff;
  font-size: 30px;
  text-align: center;
  background-color: rgba(247, 90, 0, 0.8);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0;
  margin-bottom: 10px;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-animation: slide-right 500ms linear 500ms;
          animation: slide-right 500ms linear 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hero__label {
  color: #fff;
  font-size: 24px;
  text-align: center;
  background-color: rgba(247, 119, 0, 0.8);
  border-radius: 5px;
  padding: 4px 20px;
  margin: 0;
  margin-bottom: 20px;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-animation: slide-left 500ms linear 500ms;
          animation: slide-left 500ms linear 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hero__button {
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  -webkit-animation: opacity-button 500ms linear 1000ms;
          animation: opacity-button 500ms linear 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.swipe {
  position: absolute;
  bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}

.swipe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.swipe__top,
.swipe__middle,
.swipe__bottom {
  color: #838383;
  font-size: 24px;
  font-weight: 700;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  direction: rtl;
  width: 100%;
  height: 10px;
  padding: 0;
  list-style: none;
}

.swipe__bottom {
  -webkit-animation: swipe 1000ms;
          animation: swipe 1000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.swipe__middle {
  -webkit-animation: swipe 1000ms;
          animation: swipe 1000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.swipe__top {
  -webkit-animation: swipe 1000ms;
          animation: swipe 1000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes opacity-button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes swipe {
  0% {
    color: #838383;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #838383;
  }
}

@keyframes swipe {
  0% {
    color: #838383;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #838383;
  }
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  background-color: var(--main-color);
}

.footer__copyright {
  color: #eee;
  font-size: 12px;
  list-style: none;
}
/*# sourceMappingURL=main.css.map */