.header {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: 40px;

	background-color: var(--main-color);
	z-index: 999;

	@media screen and (min-width: 1920px) {
		height: 60px;
	}
}

.logo {
	display: flex;
	align-items: center;

	height: 100%;

	margin-left: -180px;
	margin-right: 10px;

	@media screen and (max-width: 1365px) {
		margin-left: -100px;
		margin-right: 20px;
	}
}

.logo__link {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 100%;
}

.logo__img {
	display: block;
	opacity: 1;

	margin: 0;
	padding: 0;

	transform: translate(0, 0);
	transition: all 200ms linear;

	@media screen and (max-width: 1365px) {
		width: 120px;
	}
}

.logo:hover .logo__img,
.logo:focus .logo__img {
	transform: translate(100%, 0);
	opacity: 0;
}

.logo__title {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;

	color: #fff;
	text-align: center;

	width: 200px;
	height: 100%;

	margin: 0;
	padding: 0;

	transform: translate(0, 0);
	transition: all 200ms linear;

	@media screen and (max-width: 1365px) {
		width: 120px;
	}
}

.logo:hover .logo__title,
.logo:focus .logo__title {
	transform: translate(80%, 0);
	opacity: 1;
}

// Form application
.open-form {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;

	@media screen and (min-width: 768px) {
		width: auto;
	}
}

.open-form__app {
	display: flex;
	align-items: center;

	color: #fff;
	font-size: 13px;

	height: 100%;

	margin: 0;
	padding: 0 5px;

	border: none;
	background-color: var(--main-color);

	cursor: pointer;

	transition: all 250ms linear;

	@media screen and (min-width: 1366px) {
		font-size: 14px;
	}
}

.open-form__app:hover,
.open-form__app:focus {
	background-color: var(--secondary-color);
}

.open-form__app::before {
	content: "";

	background-image: url(../images/png/calculator.png);
	background-size: contain;
	background-repeat: no-repeat;

	width: 14px;
	height: 14px;

	margin-right: 5px;
}
