.header {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: 40px;

	background-color: var(--main-color);
	z-index: 999;

	@media screen and (min-width: 1920px) {
		height: 60px;
	}
}

.logo {
	display: flex;
	align-items: center;

	height: 100%;

	margin-left: -180px;
	margin-right: 50px;

	@media screen and (max-width: 1365px) {
		margin-left: -100px;
		margin-right: 20px;
	}
}

.logo__link {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 100%;
}

.logo__img {
	display: block;
	opacity: 1;

	margin: 0;
	padding: 0;

	transform: translate(0, 0);
	transition: all 200ms linear;

	@media screen and (max-width: 1365px) {
		width: 120px;
	}
}

.logo:hover .logo__img,
.logo:focus .logo__img {
	transform: translate(100%, 0);
	opacity: 0;
}

.logo__title {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;

	color: #fff;
	text-align: center;

	width: 200px;
	height: 100%;

	margin: 0;
	padding: 0;

	transform: translate(0, 0);
	transition: all 200ms linear;

	@media screen and (max-width: 1365px) {
		width: 120px;
	}
}

.logo:hover .logo__title,
.logo:focus .logo__title {
	transform: translate(80%, 0);
	opacity: 1;
}

.open-form {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;

	@media screen and (min-width: 768px) {
		width: auto;
	}
}

.open-form__app {
	display: flex;
	align-items: center;

	color: #fff;
	font-size: 13px;

	height: 100%;

	margin: 0;
	padding: 0 5px;

	border: none;
	background-color: var(--main-color);

	cursor: pointer;
}

.open-form__app:hover {
	background-color: var(--secondary-color);
}

.open-form__app::before {
	content: "";

	background-image: url("../images/png/calculator.png");
	background-size: contain;

	width: 14px;
	height: 14px;

	margin-right: 5px;
}

.search-desktop {
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: auto;
	height: 100%;

	@media screen and (max-width: 767px) {
		display: none;
	}
}

.search-desktop::before {
	content: "";

	background-image: url(../images/svg/search.svg);
	background-size: contain;

	width: 14px;
	height: 14px;

	margin-right: 5px;
}

.search-desktop__label {
	color: #fff;
	font-size: 13px;
}

.search-desktop__search-block {
	position: absolute;
	left: 0;

	display: flex;
	align-items: center;

	width: auto;
	height: 100%;

	transform: scaleX(0);
	transform-origin: 0px;
	transition: transform 100ms linear;
}

.search-desktop__field {
	width: auto;
	height: 60%;

	padding: 0 10px;

	border-radius: 5px;

	border: none;
	outline: none;
	list-style: none;
}

.search-desktop__close {
	fill: #fff;

	width: 14px;
	height: 14px;

	padding: 0 10px;

	background-color: var(--main-color);
}

.search-desktop__search-block--visible {
	transform: scaleX(1);
	transition: transform 100ms linear;
}
