.hero {
	width: 100%;
	height: 100vh;

	@media screen and (max-width: 567px) {
		height: calc(100vh - 10vh);
	}

	padding: 0;
	margin: 0;

	background-image: url(../images/gallery/hero_608.jpg);
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;

	@media screen and (min-width: 609px) {
		background-image: url(../images/gallery/hero_960.jpg);
	}

	@media screen and (min-width: 1024px) {
		background-image: url(../images/gallery/hero_1366.jpg);
	}

	@media screen and (min-width: 1366px) {
		background-image: url(../images/gallery/hero.jpg);
	}

	transition: all 500ms linear;
}

.hero__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	background-color: rgba(37, 37, 37, 0.5);
	background-size: 100%;
}

.hero__tagline {
	color: #fff;
	font-size: 26px;
	text-align: center;

	background-color: rgba(247, 90, 0, 0.8);
	border-radius: 5px;

	max-width: 80vw;

	padding: 10px 20px;
	margin: 0;
	margin-bottom: 10px;

	// transform: translateX(-100vw);

	// animation: slide-right 500ms linear 500ms;
	// animation-fill-mode: forwards;
}

.hero__label {
	color: #fff;
	font-size: 24px;
	text-align: center;

	background-color: rgba(247, 119, 0, 0.8);
	border-radius: 5px;

	padding: 4px 20px;
	margin: 0;
	margin-bottom: 20px;

	// transform: translateX(-100vw);

	// animation: slide-left 500ms linear 500ms;
	// animation-fill-mode: forwards;
}

.hero__button {
	background-color: rgba(255, 255, 255, 0.9);

	// opacity: 0;

	// animation: opacity-button 500ms linear 1000ms;
	// animation-fill-mode: forwards;
}

.swipe {
	position: absolute;
	bottom: 70px;

	margin-left: auto;
	margin-right: auto;
}

.swipe__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;

	padding: 0;
	margin: 0;
}

.swipe__top,
.swipe__middle,
.swipe__bottom {
	color: #838383;
	font-size: 24px;
	font-weight: 700;

	writing-mode: vertical-lr;
	direction: rtl;

	width: 100%;
	height: 10px;

	padding: 0;
	list-style: none;
}

.swipe__bottom {
	animation: swipe 1000ms;
	animation-iteration-count: infinite;
}

.swipe__middle {
	animation: swipe 1000ms;
	animation-iteration-count: infinite;
	animation-delay: 250ms;
}

.swipe__top {
	animation: swipe 1000ms;
	animation-iteration-count: infinite;
	animation-delay: 500ms;
}

// Animation
@keyframes slide-right {
	0% {
		transform: translateX(-100vw);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slide-left {
	0% {
		transform: translateX(100vw);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes opacity-button {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes swipe {
	0% {
		color: #838383;
	}
	50% {
		color: #fff;
	}
	100% {
		color: #838383;
	}
}
