// Common styles
.about-us,
.advantages,
.answers {
	padding: 10px;
}

.about-us__title,
.advantages__title,
.answers__title {
}

// About us
.about-us {
}

.about-us__title {
}

.about-us__description {
}

// Advantagers
.advantages {
}

.advantages__title {
}

.advantages__list {
}

.advantages__item {
}

// Answers
.answers {
}

.answers__title {
}

.answers__video-container {
	display: flex;
	justify-content: center;
}

.answers__video {
	// width: 256px;
	// height: 144px;

	@media screen and (min-width: 308px) {
		width: 288px;
		height: 162px;
	}

	@media screen and (min-width: 356px) {
		width: 336px;
		height: 189px;
	}

	@media screen and (min-width: 388px) {
		width: 368px;
		height: 207px;
	}
}
