// Common styles
.about-us,
.advantages,
.answers,
.submit {
	padding: 30px 10px 50px 10px;
}

.about-us__title,
.advantages__title,
.answers__title,
.submit__title {
	font-size: 24px;
	color: #444;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}

.about-us__description,
.advantages__item,
.submit__description {
	color: #333;

	margin: 0;
	padding: 0;

	list-style: none;
}

// About us
.about-us {
	background-color: #f3f3f3;
	padding-top: 30px;
}

.about-us__subtitle {
	color: #cc5e00;
}

// Advantagers
.advantages {
	background-color: #fff;
}

.advantages__title {
	text-align: center;
}

.advantages__list {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;

	margin: 0;
	padding: 0;
}

.advantages__item {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: #555555;
	font-size: 20px;
	text-align: center;

	width: 70%;
	max-width: 300px;

	padding: 10px;

	background-color: #cfcfcf;
	box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3);
}

.advantages__item:not(:last-child) {
	margin-bottom: 20px;
}

.advantages__img {
	display: block;
	margin: 0 10px 20px 10px;
}

// Submit applcation
.submit {
	background-color: #f3f3f3;
}

.submit__title {
	text-align: center;
}

.submit__description {
	text-align: center;
	margin-bottom: 20px;
}

.submit__button-section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

// Modifier for buttons
.application,
.callback {
	font-size: 14px;
	padding: 10px;

	width: 45%;
	max-width: 200px;
}

// Answers
.answers {
	background-color: #fff;
}

.answers__video-container {
	display: flex;
	justify-content: center;
}

.answers__video {
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.7);
	margin-bottom: 10px;

	// width: 256px;
	// height: 144px;

	@media screen and (min-width: 308px) {
		width: 288px;
		height: 162px;
	}

	@media screen and (min-width: 356px) {
		width: 336px;
		height: 189px;
	}

	@media screen and (min-width: 388px) {
		width: 368px;
		height: 207px;
	}

	@media screen and (min-width: 436px) {
		width: 416px;
		height: 234px;
	}

	@media screen and (min-width: 484px) {
		width: 464px;
		height: 261px;
	}

	@media screen and (min-width: 532px) {
		width: 512px;
		height: 288px;
	}
}
