.nav-desktop {
	height: 100%;

	opacity: 1;

	@media screen and (max-width: 767px) {
		display: none;
	}
}

.nav-desktop__list {
	display: flex;
	flex-direction: row;

	height: 100%;

	padding: 0;
	margin: 0;
	margin-right: 10px;

	list-style: none;
}

.nav-desktop__item {
	height: 100%;
}

.nav-desktop__item:not(:last-child) {
	margin-right: 5px;
}

.nav-desktop__link {
	display: flex;
	align-items: center;

	color: #fff;
	font-size: 13px;

	height: 100%;

	padding: 0 10px;
}

.nav-desktop__link:hover,
.nav-desktop__link:focus {
	background-color: var(--secondary-color);
}
