.search-desktop {
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: auto;
	height: 100%;

	@media screen and (max-width: 767px) {
		display: none;
	}
}

.search-desktop__button {
	display: flex;
	align-items: center;

	color: #fff;
	font-size: 13px;

	width: 100%;
	height: 100%;

	background-color: var(--main-color);

	border: none;

	cursor: pointer;

	transition: all 250ms linear;

	@media screen and (min-width: 1024px) {
		display: none;
	}
}

.search-desktop__button::before {
	content: "";

	background-image: url(../images/svg/search.svg);
	background-size: contain;
	background-repeat: no-repeat;

	width: 14px;
	height: 14px;

	margin-right: 5px;
}

.search-desktop__button:hover,
.search-desktop__button:focus {
	background-color: var(--secondary-color);
}

.search-desktop__search-block {
	position: absolute;
	left: 0;

	display: flex;
	align-items: center;

	width: auto;
	height: 100%;

	background-color: var(--main-color);

	transform: scaleX(0);
	transform-origin: 0px;
	transition: all 100ms linear;

	@media screen and (min-width: 1024px) {
		position: static;
		transform: scaleX(1);
	}
}

.search-desktop__field {
	color: #333;
	font-size: 14px;
	font-style: italic;

	width: 220px;
	height: 60%;

	padding: 0 10px;

	border-radius: 5px;

	border: none;
	outline: none;
	list-style: none;
}

.search-desktop__close {
	fill: #fff;

	width: 14px;
	height: 14px;

	padding: 0 10px;

	background-color: var(--main-color);

	cursor: pointer;

	@media screen and (min-width: 1024px) {
		display: none;
	}
}

.search-desktop__search-block--visible {
	transform: scaleX(1);
	transition: transform 100ms linear;
}
