@import "root";

html {
	scroll-behavior: smooth;
}

body {
	list-style: none;
	background-color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	padding-top: 40px;
	margin: 0;

	@media screen and (min-width: 1920px) {
		padding-top: 60px;
	}

	@media screen and (max-width: 765px) {
		padding-bottom: 60px;
	}
}

a {
	text-decoration: none;
}

button {
	font-family: "Montserrat", sans-serif;
}

.button-primary {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;

	padding: 10px 20px;

	background-color: var(--main-color);
	border: 2px solid var(--main-color);
	border-radius: 10px;
	box-shadow: 1px 1px 5px 1px #333;

	cursor: pointer;
}

.button-secondary {
	color: var(--main-color);
	font-size: 16px;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;

	padding: 10px 20px;

	background-color: #fff;
	border: 2px solid var(--main-color);
	border-radius: 10px;
	box-shadow: 1px 1px 5px 1px #333;

	cursor: pointer;
}

@import "header";
@import "search-desktop";
@import "contacts";
@import "nav-desktop";
@import "nav-mobile";
@import "form-application";
@import "main-page";
@import "hero";
@import "footer";
