@import "root";

html {
	scroll-behavior: smooth;
}

body {
	list-style: none;
	background-color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	padding-top: 40px;
	margin: 0;

	@media screen and (min-width: 1920px) {
		padding-top: 60px;
	}

	@media screen and (max-width: 765px) {
		padding-bottom: 60px;
	}
}

a {
	text-decoration: none;
}

button {
	font-family: "Montserrat", sans-serif;
}

.button-primary {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;

	padding: 10px 20px;

	background-color: var(--main-color);
	border: 2px solid var(--main-color);
	border-radius: 10px;
	box-shadow: 1px 1px 5px 1px rgba(30, 30, 30, 0.5);

	cursor: pointer;
}

.button-primary:hover,
.button-primary:focus {
	background-color: var(--secondary-color);
}

.button-secondary {
	color: var(--main-color);
	font-size: 16px;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;

	padding: 10px 20px;

	background-color: #fff;
	border: 2px solid var(--main-color);
	border-radius: 10px;
	box-shadow: 1px 1px 5px 1px rgba(30, 30, 30, 0.5);

	cursor: pointer;
}

.button-secondary:hover,
.button-secondary:focus {
	background-color: var(--secondary-color);
	color: #fff;
}

.video {
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.7);

	@media screen and (min-width: 308px) {
		width: 288px;
		height: 162px;
	}

	@media screen and (min-width: 356px) {
		width: 336px;
		height: 189px;
	}

	@media screen and (min-width: 388px) {
		width: 368px;
		height: 207px;
	}

	@media screen and (min-width: 436px) {
		width: 416px;
		height: 234px;
	}

	@media screen and (min-width: 484px) {
		width: 464px;
		height: 261px;
	}

	@media screen and (min-width: 532px) {
		width: 512px;
		height: 288px;
	}
}

// Modals
@import "./modal/form-application";
@import "./modal/form-callback";

// Header
@import "./header/header";
@import "./header/search-desktop";
@import "./header/contacts";
@import "./header/nav-desktop";
@import "./header/nav-mobile";
@import "./header/to-top-button";
@import "./header/call-button";

// Main page
@import "./main-page/hero";
@import "./main-page/main-page";

// Reviews
@import "./reviews/reviews";

// Footer
@import "./footer/footer";
