@import "root";

body {
	list-style: none;
	background-color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	padding-top: 40px;
	margin: 0;

	@media screen and (min-width: 1366px) {
		padding-top: 60px;
	}
}

a {
	text-decoration: none;
}

@import "header";
@import "nav-mobile";
@import "form-application";
@import "main-container";
@import "hero";
