// Common styles
.contacts,
.callback,
.comand {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 40px 10px;
}

.contacts__title,
.comand__title {
	color: #444;
	font-size: 24px;
	text-align: center;

	text-decoration: var(--underline-style);
	text-underline-offset: 3px;

	padding: 0;
	margin: 0;
	margin-bottom: 50px;
}

.contacts__list,
.comand__list {
	width: 90%;

	padding: 0;
	margin: 0;

	list-style: none;
}

// Contacts
.contacts__list {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		max-width: 850px;
	}
}

.contacts__property {
	color: #fff;
	text-align: center;

	background-color: var(--main-color);

	border: var(--border-line);
	border-radius: 10px 10px 0 0;

	padding: 5px 0;

	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;

		width: 30%;
		max-width: 250px;

		padding-left: 20px;
		margin-bottom: 20px;

		border-radius: 10px 0 0 10px;
	}
}

.contacts__value,
.contacts__tell,
.contacts__email,
.contacts__address {
	color: #444;
	font-family: Arial;
	text-align: center;

	@media screen and (min-width: 768px) {
		width: 60%;
		max-width: 500px;
	}
}

.contacts__value {
	background-color: #fff;

	border: var(--border-line);
	border-radius: 0 0 10px 10px;

	padding: 10px;
	margin-bottom: 20px;

	@media screen and (min-width: 768px) {
		border-radius: 0 10px 10px 0;
	}
}

.contacts__tell {
	line-height: 1.5;
}

.contacts__map {
	width: 90%;
	max-width: 800px;

	border: var(--border-line);
	border-radius: 10px;
}

//Callback
.callback {
	background-color: #f3f3f3;

	padding-top: 20px;
}

.callback__title {
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	font-size: 0;
}

.callback__container {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 95%;

	@media screen and (min-width: 768px) {
		width: 80%;
		max-width: 850px;
	}
}

.callback__field {
	max-width: 400px;
}

// Our comand
.comand__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media screen and (min-width: 1024px) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.comand__item {
	width: 90%;
	max-width: 500px;

	margin-bottom: 50px;

	@media screen and (min-width: 1024px) {
		width: 40%;
	}
}

.comand__item:nth-child(2n + 1) {
	@media screen and (min-width: 1024px) {
		margin-right: 50px;
	}
}

.comand__image {
	display: flex;

	width: 100%;

	border-radius: 10px 10px 0 0;
}

.comand__name {
	font-size: 18px;
	text-align: center;

	background-color: #ddd;

	padding: 10px 0 5px 0;
	margin: 0;
}

.comand__description {
	font-size: 16px;
	text-align: center;

	background-color: #ddd;

	border-radius: 0 0 10px 10px;

	padding: 0;
	padding-bottom: 10px;
	margin: 0;
}
