// Common styles
.contacts,
.callback,
.comand {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 40px 10px;
}

.contacts__title,
.comand__title {
	color: #444;
	font-size: 24px;
	text-align: center;

	text-decoration: underline 6px solid var(--secondary-color);

	padding: 0;
	margin: 0;
	margin-bottom: 50px;
}

.contacts__list,
.comand__list {
	width: 90%;

	padding: 0;
	margin: 0;

	list-style: none;
}

// Contacts
.contacts__property {
	color: #fff;
	text-align: center;

	background-color: var(--main-color);

	border: var(--border-line);
	border-bottom: none;
	border-radius: 10px 10px 0 0;

	padding: 5px 0;
}

.contacts__value,
.contacts__tell,
.contacts__email,
.contacts__address {
	color: #444;
	font-family: Arial;
	text-align: center;
}

.contacts__value {
	background-color: #fff;

	border: var(--border-line);
	// border-top: none;
	border-radius: 0 0 10px 10px;

	padding: 10px;
	margin-bottom: 20px;
}

.contacts__tell {
	line-height: 1.5;
}

.contacts__map {
	width: 90%;

	border: var(--border-line);
	border-radius: 10px;
}

//Callback
.callback {
	background-color: #f3f3f3;

	padding-top: 20px;
}

.callback__title {
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	font-size: 0;
}

.callback__container {
	width: 95%;
}

// Our comand
.comand__list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.comand__item {
	width: 90%;

	margin-bottom: 50px;
}

.comand__image {
	display: flex;

	width: 100%;

	border-radius: 10px 10px 0 0;
}

.comand__name {
	font-size: 18px;
	text-align: center;

	background-color: #ddd;

	padding: 10px 0 5px 0;
	margin: 0;
}

.comand__description {
	font-size: 16px;
	text-align: center;

	background-color: #ddd;

	border-radius: 0 0 10px 10px;

	padding: 0;
	padding-bottom: 10px;
	margin: 0;
}
