.card {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 95%;
	max-width: 533px;

	padding: 10px;
	margin: 0 10px 30px 10px;

	background-color: #fff;

	border: var(--border-line);
	border-radius: 10px;

	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);

	transition: var(--transform-animation);

	cursor: pointer;

	@media screen and (min-width: 1024px) {
		width: 45%;
		margin: 0;
		margin-bottom: 30px;
	}

	@media screen and (min-width: 1366px) {
		margin: 0 10px 20px 10px;
	}
}

.card:nth-child(2n) {
	@media screen and (min-width: 1024px) {
		margin-right: 30px;
	}

	@media screen and (min-width: 1366px) {
		margin: 0 10px 20px 10px;
	}
}

.card__link {
	margin: 0;
	padding: 0;
}

.card__image-block {
	position: relative;
}

.card__image {
	width: 100%;

	border-radius: 5px;

	box-shadow: 0px 2px 5px 0px rgba(80, 80, 80, 0.7);
}

.card__area {
	position: absolute;
	top: 0px;
	right: 0px;

	display: inline-block;

	background-color: #e97100;
	box-shadow: -1px 1px 4px 1px rgba(0, 0, 0, 0.5);

	border-radius: 0 5px 0 5px;

	color: #fff;
	font-size: 14px;
	font-weight: 700;

	margin: 0;
	padding: 10px;
}

.card__title {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 10px;
	margin: 0;
	margin-top: 10px;
}

.card__name {
	display: inline-flex;

	color: #000050;
	font-size: 18px;
	font-weight: 700;

	margin: 0;
	padding: 0;
}

.card__price {
	display: inline-flex;

	color: #ca2f00;
	font-size: 20px;
	font-weight: 700;

	margin: 0;
	padding: 0;
}

.card__price::before {
	content: "$";
}

.card__subtitle {
	display: none;

	color: #888;
	font-size: 14px;
	font-style: italic;

	height: 40px;
	overflow: hidden;

	padding: 0 20px;
	margin: 0;
}

.card__description-block {
	position: relative;

	padding: 0;
	margin: 0;
}

.card__description-list {
	position: static;
	top: 0;
	left: 0;

	margin: 0;
	padding: 10px 20px;

	transform-origin: top;
	transform: scaleY(1);
	transition: var(--transform-animation);

	list-style: none;
}

.card__description-item {
	display: flex;
	justify-content: space-between;

	color: #777;

	padding: 0;
	margin: 5px 0;
}

.card__description-item:first-child {
	border-top: 1px solid #ccc;

	padding-top: 10px;
}

.card__description-text {
	font-size: 16px;

	white-space: nowrap;
	padding: 0;
}

.card__description-delimiter {
	width: 100%;
	border-bottom: 2px dotted #ccc;
	margin: 0 10px;
}