.catalog {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 20px 10px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;

	padding: 10px;
	margin-bottom: -1px;

	background-color: #fff;

	transition: var(--transorm-animation);

	cursor: pointer;
}

.card__link {
	margin: 0;
	padding: 0;
}

.card__container {
	border: var(--border-line);
	border-bottom: none;
}

.card:hover .card__container,
.card:focus .card__container {
	border-bottom: none;
	padding-bottom: 0;

	box-shadow: 0px 10px 10px 0px #777;
}

.card__image-block {
	position: relative;
	padding: 10px;
}

.card__image {
	width: 100%;

	box-shadow: 0px 2px 5px 0px rgba(80, 80, 80, 0.7);
}

.card__area {
	position: absolute;
	top: 10px;
	right: 10px;

	display: inline-block;

	background-color: #e97100;
	box-shadow: -2px 2px 6px 1px #777;

	color: #fff;
	font-weight: 700;

	margin: 0;
	padding: 10px;
}

.card__title {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 20px;
	margin: 0;
	margin-top: 10px;
}

.card__name {
	display: inline-flex;

	color: #000030;
	font-size: 20px;
	font-weight: 700;

	margin: 0;
	padding: 0;
}

.card__price {
	display: inline-flex;

	color: #ca2f00;
	font-size: 25px;
	font-weight: 700;

	margin: 0;
	padding: 0;
}

.card__price::before {
	content: "$";
}

.card__subtitle {
	display: none;

	color: #888;
	font-size: 15px;
	font-style: italic;

	height: 40px;
	overflow: hidden;

	padding: 0 20px;
	margin: 0;
}

.card__description-block {
	position: relative;

	padding: 0;
	margin: 0;
}

.card__description-list {
	position: static;
	top: 0;
	left: 0;

	margin: 0;
	padding: 10px 20px;

	background-color: #fff;
	border: var(--border-line);
	border-top: none;

	transform-origin: top;
	transform: scaleY(1);
	transition: var(--transorm-animation);

	list-style: none;
}

.card:hover .card__description-list,
.card:focus .card__description-list {
	border: var(--border-line);
	border-top: none;
	box-shadow: 0px 10px 10px 0px #777;

	transform: scaleY(1);

	z-index: 99;
}

.card__description-item {
	display: flex;
	justify-content: space-between;

	color: #777;

	padding: 0;
	margin: 5px 0;
}

.card__description-item:first-child {
	border-top: var(--border-line);

	padding-top: 10px;
}

.description li span {
	white-space: nowrap;
	padding: 0;
}

.description-delimiter {
	width: 100%;
	border-bottom: 2px dotted #ccc;
	margin: 0 10px;
}
