.review-title {
	font-size: 24px;
	color: #444;
	text-align: center;
	line-height: 1.5;
	text-decoration: var(--underline-style);
	text-underline-offset: 3px;

	margin: 30px 30px;
	padding: 0;
}

.review {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;

	@media screen and (min-width: 1024px) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.review__video {
	margin-bottom: 30px;

	@media screen and (min-width: 1024px) {
		width: 45vw;
		height: calc(45vw / 16 * 9);
	}
}

.review__video:nth-child(2n + 1) {
	@media screen and (min-width: 1024px) {
		margin-right: 30px;
	}
}
