// Common styles
.top-projects,
.about-us,
.advantages,
.answers,
.submit {
	padding: 30px 10px 50px 10px;
}

.top-projects__title,
.about-us__title,
.advantages__title,
.answers__title,
.submit__title {
	font-size: 24px;
	color: #444;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}

.top-projects__title,
.advantages__title {
	text-decoration: var(--underline-style);
	text-underline-offset: 3px;
}

.top-projects__item .about-us__description,
.advantages__item,
.submit__description {
	color: #333;

	margin: 0;
	padding: 0;

	list-style: none;
}

// Top projects
.top-projects__title {
	text-align: center;
}

.top-projects__list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;

	width: 100%;

	padding: 0;
	margin: 0;
	list-style: none;
}

.top-projects__item {
	display: block;

	width: 100%;
	max-width: 533px;

	border: 2px solid transparent;
	border-radius: 5px;

	background-color: var(--main-color);

	padding: 0;
	margin: 0;

	overflow: hidden;
}

.top-projects__item:not(:last-child) {
	margin-bottom: 30px;
}

.top-projects__link {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;
}

.top-projects__image {
	display: block;

	width: 100%;
	max-width: 533px;

	padding: 0;
	margin: 0;
}

.top-projects__description {
	display: block;

	width: 100%;
	height: 100%;

	color: #fff;
	font-weight: 700;
	text-align: center;

	padding: 10px 0;
	margin: 0;
}

// About us
.about-us {
	background-color: #f3f3f3;
	padding-top: 30px;
}

.about-us__subtitle {
	color: #cc5e00;
}

// Advantagers
.advantages {
	background-color: #fff;
}

.advantages__title {
	text-align: center;
}

.advantages__list {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;

	margin: 0;
	padding: 0;
}

.advantages__price,
.advantages__intermediary,
.advantages__estimate,
.advantages__steps {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: #555;
	font-size: 20px;
	font-weight: 700;
	text-align: center;

	width: 70%;
	max-width: 300px;

	padding: 10px;
	margin-bottom: 20px;

	// background-color: #cfcfcf;
	background-color: #f9f8f5;
	border: 4px solid var(--main-color);
	border-radius: 10px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
}

.advantages__steps {
	margin-bottom: 0;
}

.advantages__price::before,
.advantages__intermediary::before,
.advantages__estimate::before,
.advantages__steps::before {
	content: "";

	width: 150px;
	height: 150px;

	margin-top: 10px;
	margin-bottom: 20px;

	background-size: contain;
}

.advantages__price::before {
	background-image: url(../images/png/price-orange.png);
}

.advantages__intermediary::before {
	background-image: url(../images/png/intermediary-orange.png);
}

.advantages__estimate::before {
	background-image: url(../images/png/estimate-orange.png);
}

.advantages__steps::before {
	background-image: url(../images/png/steps-orange.png);
}

// Submit applcation
.submit {
	background-color: #f3f3f3;
}

.submit__title {
	text-align: center;
}

.submit__description {
	text-align: center;
	margin-bottom: 20px;
}

.submit__button-section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

// Modifier for buttons
.application-button,
.callback-button {
	font-size: 14px;
	padding: 10px;

	width: 45%;
	max-width: 200px;
}

// Answers
.answers {
	background-color: #fff;
}

.answers__video-container {
	display: flex;
	justify-content: center;
}
